.button {
    background-color: #002fff;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    margin: 36px 36px;
    cursor: pointer;
  }

.about-buttons {
    &__content {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap-reverse;
        flex: 50;
        gap: 55px
    }
}