.about-america {
    border-bottom: 0.3em solid $color2;
    border-top: 0.3em solid $color2;
    border-left: 0.7em solid $color2;
    border-right: 0.7em solid $color2;
    &__content {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-wrap: wrap-reverse;
        flex: 50;
        gap: 55px;
      }
    &__element {
        background-image: url('/sciezka/do/zdjecia.jpg');
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; 
      
    }
    }
